#desktop {
  position: relative;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  background-color: #000000;
}

.desktop__info {
  position: fixed;
  bottom: 8px;
  right: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #ffffff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#window-manager {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.window {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #ffffff;
  width: max-content;
  min-width: 96px;

  &__title {
    display: flex;
    align-items: center;
    height: 15px;
    background-color: #000000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &__icon {
      padding: 0 2px;
      font-size: 13px;
    }

    &__text {
      position: relative;
      top: 1px;
    }

    &__buttons {
      display: flex;
      align-items: center;
      margin-left: auto;
      height: 100%;
    }

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15px;
      height: 15px;
      background-color: #000000;
      color: #ffffff;
      border: unset;
      border-left: 1px solid #ffffff;
      outline: unset;
      cursor: pointer;
      font-size: 10px;

      &:hover {
        background-color: #ffffff;
        color: #000000;
      }
    }
  }

  &__content {
    border-top: 1px solid #ffffff;
  }

  &--focused &__title {
    background-color: #ffffff;
    color: #000000;

    &__button {
      background-color: #ffffff;
      color: #000000;

      &:hover {
        background-color: #000000;
        color: #ffffff;
      }
    }
  }
}

.context-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  color: #ffffff;
  border: 1px solid #ffffff;
  z-index: 1;

  &--shown {
    display: flex;
  }

  &__item {
    background-color: #000000;
    cursor: pointer;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
      background-color: #ffffff;
      color: #000000;
    }
  }
}

.bi {
  display: flex;
  align-items: center;
}
